@font-face {
  font-family: lanenar;
  src: url(../fonts/LANENAR_.ttf);
}

@font-face {
  font-family: dejavu;
  src: url(../fonts/DejaVuSans-Bold.ttf);
}

body {
    font-family: lanenar;
    overflow-y: scroll;
}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.realisation img {
    width: 100%;
}

.realisation .col-sm-4 {
    padding: 5px;
}

.menu {
    padding-left: 1%;
}

.main.container {
    padding-top: 1%;
}

.main.container {
    max-width: 100%;
}

.main.container > .row {
    max-width: 98%;
    margin: auto;
}

img.logo {
    max-width: 100%;
}
.menu .logo {
    cursor: pointer;
}

.showroom {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    z-index: 2;
    cursor: pointer;
}

.showroom video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showroom .logo {
    position: fixed;
}

.main.container {
    max-height: 100%;
    overflow-y: auto;
}

.rea > div {
    position: relative;
}

.rea-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background: rgba(255,255,255,.9);
    cursor: pointer;
}

.rea-overlay:hover {
    opacity: 1;
}

.menu-container {
    padding-top: 3%;
}

.menu-button {
    padding-top: 2.2%;
    cursor: pointer;
}

.menu {
    position: relative;
}

.menu .fixed {
    position: fixed;
    width: 23%;
    height: 96%;
}

.menu .content-text {
    margin-right: 10%;
    margin-top: 50px;
    height: 320px;
    overflow: hidden;
    line-height: 1.2em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.fixed-text {
    /*height: 119px;
    overflow: hidden;*/
    text-overflow: ellipsis;
}

.menu .content-text h5 {
    font-weight: bold;
}

.menu-sub {
    font-size: 12px;
    display: none;
    line-height: 0.5;
    padding-bottom: 1em;
}

@media screen and (max-width: 950px) {
  .menu-sub {
    font-size: 11px;
  }
}

@media screen and (max-width: 870px) {
  .menu-sub {
    font-size: 10px;
  }
}

.menu-sub span {
    cursor: pointer;
}

.menu-sub span.active {
    font-family: lanenar;
    font-weight: bolder;
    color: black;
}

.main.container .col-3 {
    flex: 0 0 23%;
}

.main.container .col-9 {
    flex: 0 0 77%;
    max-width: 77%;
}

.slides {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 77%;
    background: white;
    padding-top: 1%;
    z-index: 2;
}

.rea .description {
    display: none;
}

.slides .slides-container {
    width: 98%;
    height: 98%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slides .slide {
    position: absolute;
    transition: transform 0.3s;
    transition-timing-function: ease;
    transition-delay: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides img {
    width: auto;
    height: 100%;
}

.slides video {
    width: auto;
    height: 100%;
}

.no-transition {
    transition: none !important;
    opacity: 0 !important;
}

.slides .slide.current {
	z-index: 105;
    transform: translate3d(0, 0, 0);
}

.slides .slide.next {
    transform: translate3d(100%, 0, 0);
}

.slides .slide.prev {
    transform: translate3d(-100%, 0, 0);
}

.slides .bt {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 200;
}

.slides .bt.left {
    cursor: url(//ronandrouglazet.github.io/dahu/images/cur-left.png), default;
    left: 0;
}

.slides .bt.right {
    cursor: url(//ronandrouglazet.github.io/dahu/images/cur-right.png), default;
    right: 0;
}

.menu .num-button-container {
    display: flex;
    margin-top: 20px;
}

.menu .num-button {
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    padding: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
    opacity: 1;
}

.menu .num-button:first-of-type {
    margin: 0 5px 0 0;
}

.menu .num-button:hover {
    opacity: 0.8;
}

.menu .num-button.current {
    border: 1px solid #888888;
}

.content > .row:not(.realisation) {
    display: none;
    text-align: center;
    overflow: hidden;
}

.content > .row:not(.realisation) img {
    height: 96vh;
}

.content > .row:not(.realisation) .content-text {
    display: none;
}
