@font-face {
  font-family: lanenar;
  src: url(../fonts/LANENAR_.ttf);
}

@font-face {
  font-family: dejavu;
  src: url(../fonts/DejaVuSans-Bold.ttf);
}

body {
    font-family: lanenar;
}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.realisation img {
    width: 100%;
}

.realisation .col-sm-4 {
    padding: 5px;
}

.menu {
    padding-left: 1%;
}

.main.container {
    padding-top: 5%;
}

.main.container {
    max-width: 100%;
}

.main.container > .row {
    max-width: 98%;
    margin: auto;
}

img.logo {
    max-width: 100%;
}

.showroom {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    z-index: 2;
    cursor: pointer;
}

.showroom video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showroom .logo {
    position: fixed;
}

.main.container {
    max-height: 100%;
    overflow-y: scroll;
}

.rea > div {
    position: relative;
}

.rea-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    cursor: pointer;
}

.rea-overlay:hover {
    opacity: 1;
}

.menu-container {
    padding-top: 3%;
}

.menu-button {
    padding-top: 2.2%;
    cursor: pointer;
}

.menu {
    position: relative;
}

.menu .fixed {
    position: fixed;
    width: 23%;
    height: 90%;
}

.menu .content-text {
    height: 50%;
    right: 10%;
    bottom: 8%;
    text-align: justify;
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.menu-sub {
    font-size: 12px;
    display: none;
    line-height: 0.5;
    padding-bottom: 1em;
}

@media screen and (max-width: 950px) {
  .menu-sub {
    font-size: 11px;
  }
}

@media screen and (max-width: 870px) {
  .menu-sub {
    font-size: 10px;
  }
}

.menu-sub span {
    cursor: pointer;
}

.menu-sub span.active {
    font-family: dejavu;
}

.main.container .col-3 {
    flex: 0 0 23%;
}

.main.container .col-9 {
    flex: 0 0 77%;
    max-width: 77%;
}

.rea .slides {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 77%;
    background: white;
    padding-top: 5%;
    z-index: 2;
}

.rea .description {
    display: none;
}

.rea .slides .slides-container {
    width: 95%;
    height: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rea .slides img {
    opacity: 0;
    margin: auto;
    position: absolute;
    transition: opacity 1s, transform 1s;
    transition-delay: 0;
    height: 100%;
    width: auto;
}

.rea .slides img.current {
    opacity: 1;
	z-index: 105;
    transform: translate3d(0, 0, 0);
}

.rea .slides img.next {
    transform: translate3d(100%, 0, 0);
}

.rea .slides img.prev {
    transform: translate3d(-100%, 0, 0);
}

.slides .bt {
    position: absolute;
    width: 50%;
    height: 82%;
    z-index: 200;
}

.slides .bt.left {
    cursor: url(http://cigue.net/wp-content/themes/cigue/_/img/cur-left.png), default;
    left: 0;
}

.slides .bt.right {
    cursor: url(http://cigue.net/wp-content/themes/cigue/_/img/cur-right.png), default;
    right: 0;
}

.slides .num-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slides .num-button {
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    padding: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
    opacity: 0.6;
}

.slides .num-button:hover {
    opacity: 1;
}

.slides .num-button.current {
    border: 1px solid #888888;
}
